/javascript/.idea/.gitignore
/javascript/.idea/javascript.iml
/.idea/misc.xml
/.idea/modules.xml
/javascript/.idea/modules.xml
/.idea/inspectionProfiles/profiles_settings.xml
/.idea/inspectionProfiles/Project_Default.xml
/.idea/sd-image-shortcut.iml
/.fleet/settings.json
/.idea/vcs.xml
/javascript/.idea/vcs.xml
/.idea/workspace.xml
/.idea
